<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  
  <title>go-15</title>
  <link rel="stylesheet" href="../css/style.css">
  <style type="text/css"></style>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="../js/indexJs.js"></script>
</head>

<body>
  <div class="wrap">
    <header>
      <a href="#">
        <p>LOGO</p>
      </a>
      <img src="https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-128.png" alt="">
      <nav>
        <div class="dropmenu">
          <ul id="dm_ul">
            <li><a href="#">브랜드 소개</a>
              <ul>
                <li><a href="#">인사말</a></li>
                <li><a href="#">설립취지</a></li>
                <li><a href="#">비전/미션</a></li>
                <li><a href="#">목표</a></li>
              </ul>
            </li>
            <li><a href="#">제품 안내</a>
              <ul>
                <li><a href="#">전체</a></li>
                <li><a href="#">음료</a></li>
                <li><a href="#">디저트</a></li>
                <li><a href="#">식기</a></li>
              </ul>
            </li>
            <li><a href="#">매장 안내</a>
              <ul>
                <li><a href="#">위치</a></li>
                <li><a href="#">스페셜 하우스</a></li>
                <li><a href="#">시설안내</a></li>
              </ul>
            </li>
            <li><a href="#">예약</a>
              <ul>
                <li><a href="#">공지사항</a></li>
                <li><a href="#">예약하기</a></li>
                <li><a href="#">예약확인</a></li>
              </ul>
            </li>
          </ul>
      </nav>
    </header>
  </div>
</body>

</html>