<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>사이트 이름</h1>
        <nav>
            <div class="dropdown">
                <a href="#home">주문제작 샘플</a>
                <div class="dropdown-content">
                    <a href="#living-room">인조가죽 원단</a>
                    <a href="#bedroom">패브릭 원단</a>
                    <a href="#kitchen">벨벳 원단</a>
                    <a href="#kitchen">테이블 상판</a>
                    <a href="#kitchen">대리석</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#products">포트폴리오</a>
                <div class="dropdown-content">
                    <a href="#living-room">드라마 방송납품</a>
                    <a href="#bedroom">프렌차이즈 체인점</a>
                    <a href="#kitchen">카페외 상업공간</a>
                    <a href="#kitchen">기업체 관공서</a>
                    <a href="#kitchen">병원가구</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#events">의자</a>
                <div class="dropdown-content">
                    <a href="#living-room">목재 의자</a>
                    <a href="#bedroom">철제 의자</a>
                    <a href="#kitchen">미드 센추리</a>
                    <a href="#kitchen">회전의자</a>
                    <a href="#kitchen">아크릴/PC/사출의자</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#about">쇼파</a>
                <div class="dropdown-content">
                    <a href="#living-room">1인용 쇼파</a>
                    <a href="#bedroom">2-3인용 쇼파</a>
                    <a href="#kitchen">병원 | 대기실 공간 쇼파</a>
                    <a href="#kitchen">붙박이쇼파</a>
                    <a href="#kitchen">노래방룸쇼파</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#contact">오피스</a>
            </div>
            <div class="dropdown">
                <a href="#events">테이블</a>
                <div class="dropdown-content">
                    <a href="#living-room">우드슬랩 테이블</a>
                    <a href="#bedroom">천연&인조 대리석 테이블</a>
                    <a href="#kitchen">6인 이상 테이블</a>
                    <a href="#kitchen">목재 테이블</a>
                    <a href="#kitchen">유리/철제/ABS 테이블</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#events">야외용 가구</a>
                <div class="dropdown-content">
                    <a href="#living-room">야외용 의자</a>
                    <a href="#bedroom">야외용 바의자</a>
                    <a href="#kitchen">야외용 쇼파</a>
                    <a href="#kitchen">야외용 테이블</a>
                    <a href="#kitchen">파라솔</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#events">제작가구 외</a>
                <div class="dropdown-content">
                    <a href="#living-room">서비스테이블&음료휴지통</a>
                    <a href="#bedroom">인포메이션&카운터</a>
                    <a href="#kitchen">수납서랍장/북케이스</a>
                    <a href="#kitchen">캔틴장&탕비장</a>
                    <a href="#kitchen">홈리빙</a>
                </div>
            </div>
        </nav>
    </header>
</body>

</html>